beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
charset-normalizer==2.0.4
et-xmlfile==1.1.0
idna==3.2
mypy==0.910
mypy-extensions==0.4.3
openpyxl==3.0.7
psutil==5.8.0
PyMySQL==1.0.2
requests==2.26.0
soupsieve==2.2.1
stanfordcorenlp==3.9.1.1
toml==0.10.2
types-PyMySQL==1.0.2
types-requests==2.25.6
typing-extensions==3.10.0.2
urllib3==1.26.6
